/*HEADER*/

header{
	height:150px;
	overflow:hidden;
}

#logo{
	float:left;
	width:400px;
}

#logo img{
	float:left;
}

nav{
	float:right;
}

nav li{
	display:inline;
}

#container{
	margin:10px auto;
	width:960px;
}