<div id="open_id"><a href="">OpenID</a></div>
<form action="">
	<label for="">Email Address</label>
	<input type="text" />
	<br />
	<label for="">Password</label>
	<input type="text" />
	<br />
	<a href="">Cancel</a><input type="submit" value="Log In" />
</form>