<div id="main">
	<div id="home">
	<!--IF LOGGED OUT-->
		<img src="" alt="" />
		<div class="main_text">
			<p>Why you should try Updateful</p>
			<p>It does all these cool things:
			<ul>
				<li>Cool thing 1</li>
				<li>Cool thing 2</li>
				<li>Cool thing 3</li>
				<li>Cool thing 4</li>
			</ul>
			
			</p>
		</div>
		
	<!--	IF LOGGED IN-->
	
	LOGGED IN STUFF HERE
	
	</div>
</div>