<div id="main">
	<div id="home">
	<!--IF LOGGED OUT-->
		<img src="" alt="" />
		<div class="main_text">
		<h2>Update your Current Address with:</h2>
		<ul>
			<li>The Postal Service</li>
			<li>The Insurance Company</li>
			<li>The Phone Copmany</li>
			<li class="online_options">Google Default Location</li>
			<li class="online_options">Linked In</li>
			<li class="online_options">JobSearchSite.demp</li>


		</ul>		
		</div>
		
	<!--	IF LOGGED IN-->
	
	LOGGED IN STUFF HERE
	
	</div>
</div>