<footer id="footer">
	<p>copyright information</p>
</footer>

 </div> <!--! end of #container -->
</body>

 
  
  
   <!-- Javascript at the bottom for fast page loading -->
  
    <!-- Grab Google CDN's jQuery. fall back to local if necessary -->
 
 	 <%= javascript_include_tag :all %>
 	 <%= javascript_include_tag "rails" %>
 	 

  
    <!--[if lt IE 7 ]>
      <script src="javascripts/dd_belatedpng.js?v=1"></script>
    <![endif]-->
  
  

  
  
    <!-- asynchronous google analytics: mathiasbynens.be/notes/async-analytics-snippet 
         change the UA-XXXXX-X to be your site's ID -->
    <script>
     var _gaq = [['_setAccount', 'UA-XXXXX-X'], ['_trackPageview']];
     (function(d, t) {
      var g = d.createElement(t),
          s = d.getElementsByTagName(t)[0];
      g.async = true;
      g.src = '//www.google-analytics.com/ga.js';
      s.parentNode.insertBefore(g, s);
     })(document, 'script');
    </script>
    
  

</html>